button {
    font-size: 30px;
    border: none;
    color: white;
    background-color: transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    overflow: hidden;
}

/* Add animation styles on hover */
button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, transparent, white, transparent); /* Gradient for a smooth transition */
    transition: width 0.3s ease-out;
}

button:hover::before {
    width: 100%;
}