


.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}
button {
    position: relative;
    background-color: #000; /* Black Color */
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out;
}


@media (max-width: 768px) {
    body {
        max-width: 800px;
        margin: 0 auto;
        width: 100%;
      }
  }